# Cartelle e file generati automaticamente da Unity che non servono su GitHub
/Library/
/Temp/
/Logs/
/Obj/
/Build/
/Builds/
/UserSettings/

# File di sistema inutili
.DS_Store
Thumbs.db
.vs/v.v/FileContentIndex/2d2783d0-d0e5-4ecf-bfa2-5d5360e01902.vsidx
